{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "pages": "./pages",
          "expose": "pages"
        },
        {
          "components": "./components",
          "expose": "components"
        }
      ]
    ]
  ]
}