# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Unwanted file extensions
*.js

# Idea configuration
.idea/
.vscode/

.DS_STORE

# Dependency directories
node_modules/

# build directories
dist
build

# dotenv environment variables file
.env

# Wanted files (explicit)
!ecosystem.config.js